SERVICE_NAME=role-helper
LOG_LEVEL=DEBUG

API_KEY=your_groq_api_key
FILE_SIZE_LIMIT_IN_MB=10
LLM_NAME=meta-llama/llama-4-scout-17b-16e-instruct
ASR_NAME=whisper-large-v3

DB_HOST=db
DB_PORT=5432
DB_NAME=vectordb
DB_USER=role-helper-history
DB_PASSWORD=role-helper-history

PYWAY_TYPE=postgres
PYWAY_DATABASE_MIGRATION_DIR=sql/role-helper
PYWAY_TABLE=public.pyway

PYWAY_ENABLED=1